* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  background-color: rgb(22, 22, 22);
  overflow-x: hidden;
}

a {
  color: #333;
  text-decoration: none;
}

.wrapper {
  height: 100vh;
  width: 1000px;
  margin: 0 auto;
}

.centerXY {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerX {
  display: flex;
  justify-content: center;
}

input,
button {
  font-size: 1.3rem;
  padding: 0.5rem;
}
